configuration {
    modi: "run,drun,window";
    icon-theme: "Papirus-Dark";
    show-icons: true;
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: " ";
    display-run: " ";
    display-window: " ";
    sidebar-mode: true;
    opacity: 0.5;
}

@theme "./theme"